.container{
    display: flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    gap:20px;



}

.box{
    display: flex;
    align-items: center;
    height:100px;
    width: 100px;
    background-color: aquamarine;
    justify-content: center;
}
.box:nth-child(1){
    background-color: blue;
}
.box:nth-child(2){
    background-color:coral;
}
.box:nth-child(2){
    background-color:mediumpurple;
}